## DSM CAPSTONE PROJECT

#### Cleaning the data for Analysis

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib as plt

## Cleaning the COVID-19 Data

In [ ]:
covid_data = pd.read_csv("WHO-COVID-19-global-data.csv")
covid_data.head(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1/3/2020,AF,Afghanistan,EMRO,0,0,0,0
1,1/4/2020,AF,Afghanistan,EMRO,0,0,0,0
2,1/5/2020,AF,Afghanistan,EMRO,0,0,0,0
3,1/6/2020,AF,Afghanistan,EMRO,0,0,0,0
4,1/7/2020,AF,Afghanistan,EMRO,0,0,0,0
5,1/8/2020,AF,Afghanistan,EMRO,0,0,0,0
6,1/9/2020,AF,Afghanistan,EMRO,0,0,0,0
7,1/10/2020,AF,Afghanistan,EMRO,0,0,0,0
8,1/11/2020,AF,Afghanistan,EMRO,0,0,0,0
9,1/12/2020,AF,Afghanistan,EMRO,0,0,0,0

In [ ]:
# obtain the # of missing data points per column
missing_values_count = covid_data.isnull().sum()
missing_values_count

Date_reported           0
Country_code         1009
Country                 0
WHO_region              0
New_cases               0
Cumulative_cases        0
New_deaths              0
Cumulative_deaths       0
dtype: int64

In [ ]:
Nan_df = covid_data[covid_data.isna().any(axis = 1)]
Nan_df. head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
144287,1/3/2020,NaN,Namibia,AFRO,0,0,0,0
144288,1/4/2020,NaN,Namibia,AFRO,0,0,0,0
144289,1/5/2020,NaN,Namibia,AFRO,0,0,0,0
144290,1/6/2020,NaN,Namibia,AFRO,0,0,0,0
144291,1/7/2020,NaN,Namibia,AFRO,0,0,0,0

In [ ]:
#cleaning the country_code for Namibia
covid_data['Country_code'].fillna('NAM', inplace=True)
covid_data.loc[144287]

Date_reported        1/3/2020
Country_code              NAM
Country               Namibia
WHO_region               AFRO
New_cases                   0
Cumulative_cases            0
New_deaths                  0
Cumulative_deaths           0
Name: 144287, dtype: object

In [ ]:
covid_data.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.391330e+05      2.391330e+05  239133.000000       2.391330e+05
mean   2.582654e+03      9.028122e+05      27.318291       1.417646e+04
std    1.636060e+04      4.419793e+06     151.405908       6.335317e+04
min   -3.295200e+04      0.000000e+00   -2437.000000       0.000000e+00
25%    0.000000e+00      5.870000e+02       0.000000       6.000000e+00
50%    2.000000e+01      1.778600e+04       0.000000       2.220000e+02
75%    4.760000e+02      2.462000e+05       5.000000       3.815000e+03
max    1.265525e+06      9.526086e+07   11447.000000       1.050195e+06

In [ ]:
# covid_data.info()

# convert "Date_re" to datatime64 dtype and format to yyyy-mm-dd
covid_data["Date_reported"] = pd.to_datetime(covid_data["Date_reported"], format="%m/%d/%Y")
covid_data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [ ]:
covid_clean_data = covid_data.groupby("Country").resample('Y', label='right', closed = 'right', on='Date_reported').mean().reset_index().sort_values(by='Date_reported')
covid_clean_data
clean_covid_data.to_csv("covid_data_new.csv")

,Country,Date_reported,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,Afghanistan,2020-12-31,143.763736,2.335644e+04,6.013736,814.414835
201,Ethiopia,2020-12-31,340.263736,3.493491e+04,5.269231,552.074176
507,Qatar,2020-12-31,394.563187,7.245080e+04,0.673077,112.818681
204,Falkland Islands (Malvinas),2020-12-31,0.079670,1.026648e+01,0.000000,0.000000
504,Puerto Rico,2020-12-31,208.483516,2.144549e+04,4.076923,365.620879
...,...,...,...,...,...,...
494,Philippines,2022-12-31,4001.182143,3.674429e+06,42.057143,59066.300000
215,Finland,2022-12-31,3719.664286,9.810627e+05,15.789286,4364.782143
491,Peru,2022-12-31,6640.585714,3.587198e+06,50.189286,212029.028571
500,Poland,2022-12-31,7861.253571,5.793037e+06,73.878571,113789.207143
710,"occupied Palestinian territory, including east...",2022-12-31,830.360714,6.441746e+05,2.771429,5556.735714

In [ ]:
covid_clean_data.sort_values('Country', inplace= True)

covid_clean_data.head(20)

,Country,Date_reported,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,Afghanistan,2020-12-31,143.763736,23356.442308,6.013736,814.414835
2,Afghanistan,2022-12-31,149.367857,179834.517857,1.600000,7658.271429
1,Afghanistan,2021-12-31,289.668493,108247.865753,14.156164,4873.586301
5,Albania,2022-12-31,434.814286,283888.696429,1.335714,3483.767857
3,Albania,2020-12-31,158.590659,10080.335165,3.225275,239.538462
4,Albania,2021-12-31,415.860274,139607.126027,5.591781,2381.556164
6,Algeria,2020-12-31,272.832418,28797.335165,7.557692,1026.755495
8,Algeria,2022-12-31,188.028571,262308.489286,2.171429,6807.889286
7,Algeria,2021-12-31,325.276712,156313.783562,9.643836,4274.926027
11,American Samoa,2022-12-31,29.425000,4829.546429,0.121429,20.028571
9,American Samoa,2020-12-31,0.000000,0.000000,0.000000,0.000000
10,American Samoa,2021-12-31,0.030137,1.569863,0.000000,0.000000
12,Andorra,2020-12-31,21.931319,1855.815934,0.230769,42.390110
14,Andorra,2022-12-31,82.689286,41159.492857,0.053571,151.664286
13,Andorra,2021-12-31,41.476712,13891.304110,0.153425,122.161644
15,Angola,2020-12-31,47.892857,3643.167582,1.112637,99.848901
16,Angola,2021-12-31,162.613699,40353.728767,3.704110,1006.339726
17,Angola,2022-12-31,94.085714,99710.528571,0.571429,1898.917857
18,Anguilla,2020-12-31,0.035714,2.881868,0.000000,0.000000
19,Anguilla,2021-12-31,4.550685,353.665753,0.013699,0.649315

In [ ]:
covid_clean_data.set_index('Date_reported',inplace= True)
#  #('C', inplace= True)
covid_clean_data.head(50)

,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
Date_reported,,,,,
2020-12-31,Afghanistan,143.763736,2.335644e+04,6.013736,814.414835
2022-12-31,Afghanistan,149.367857,1.798345e+05,1.600000,7658.271429
2021-12-31,Afghanistan,289.668493,1.082479e+05,14.156164,4873.586301
2022-12-31,Albania,434.814286,2.838887e+05,1.335714,3483.767857
2020-12-31,Albania,158.590659,1.008034e+04,3.225275,239.538462
2021-12-31,Albania,415.860274,1.396071e+05,5.591781,2381.556164
2020-12-31,Algeria,272.832418,2.879734e+04,7.557692,1026.755495
2022-12-31,Algeria,188.028571,2.623085e+05,2.171429,6807.889286
2021-12-31,Algeria,325.276712,1.563138e+05,9.643836,4274.926027
2022-12-31,American Samoa,29.425000,4.829546e+03,0.121429,20.028571
2020-12-31,American Samoa,0.000000,0.000000e+00,0.000000,0.000000
2021-12-31,American Samoa,0.030137,1.569863e+00,0.000000,0.000000
2020-12-31,Andorra,21.931319,1.855816e+03,0.230769,42.390110
2022-12-31,Andorra,82.689286,4.115949e+04,0.053571,151.664286
2021-12-31,Andorra,41.476712,1.389130e+04,0.153425,122.161644
2020-12-31,Angola,47.892857,3.643168e+03,1.112637,99.848901
2021-12-31,Angola,162.613699,4.035373e+04,3.704110,1006.339726
2022-12-31,Angola,94.085714,9.971053e+04,0.571429,1898.917857
2020-12-31,Anguilla,0.035714,2.881868e+00,0.000000,0.000000
2021-12-31,Anguilla,4.550685,3.536658e+02,0.013699,0.649315
2022-12-31,Anguilla,7.828571,3.047511e+03,0.025000,9.200000
2020-12-31,Antigua and Barbuda,0.434066,6.194231e+01,0.013736,2.346154
2021-12-31,Antigua and Barbuda,11.334247,1.873975e+03,0.312329,50.742466
2022-12-31,Antigua and Barbuda,17.153571,7.855779e+03,0.096429,137.242857
2021-12-31,Argentina,11249.871233,4.031936e+06,191.520548,92504.915068
2022-12-31,Argentina,14038.689286,9.041057e+06,42.003571,128028.096429
2020-12-31,Argentina,4599.777473,4.299781e+05,132.612637,14194.560440
2021-12-31,Armenia,508.276712,2.362782e+05,14.106849,4761.769863
2022-12-31,Armenia,353.053571,4.160369e+05,2.567857,8519.703571
2020-12-31,Armenia,437.936813,3.998050e+04,7.755495,682.807692
2022-12-31,Aruba,89.728571,3.700050e+04,0.175000,213.332143
2020-12-31,Aruba,14.760989,1.534291e+03,0.134615,12.923077
2021-12-31,Aruba,37.391781,1.185163e+04,0.361644,116.893151
2022-12-31,Australia,35102.692857,6.249288e+06,45.096429,8469.532143
2020-12-31,Australia,77.969780,1.385634e+04,2.497253,360.587912
2021-12-31,Australia,915.553425,7.582215e+04,3.608219,1164.553425
2020-12-31,Austria,977.876374,5.980827e+04,20.549451,1203.384615
2022-12-31,Austria,14079.628571,3.832535e+06,14.317857,19314.442857
2021-12-31,Austria,2498.745205,6.799973e+05,25.493151,12601.221918
2020-12-31,Azerbaijan,595.010989,3.437536e+04,7.074176,430.390110
2021-12-31,Azerbaijan,1095.254795,3.754520e+05,15.810959,5163.246575
2022-12-31,Azerbaijan,734.232143,7.737041e+05,5.646429,9532.253571
2021-12-31,Bahamas,45.531507,1.466502e+04,1.498630,353.347945
2022-12-31,Bahamas,45.832143,3.442691e+04,0.414286,794.603571
2020-12-31,Bahamas,21.585165,2.094816e+03,0.467033,47.651099
2020-12-31,Bahrain,253.914835,3.527562e+04,0.967033,128.928571
2021-12-31,Bahrain,517.756164,2.177452e+05,2.854795,1014.227397
2022-12-31,Bahrain,1432.371429,5.629812e+05,0.450000,1475.207143
2021-12-31,Bangladesh,2937.065753,1.061600e+06,56.200000,17786.846575
2020-12-31,Bangladesh,1410.741758,1.890373e+05,20.766484,2661.362637

In [ ]:
covid_clean_data = covid_clean_data.round()

In [ ]:
covid_clean_data

,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
Date_reported,,,,,
2020-12-31,Afghanistan,144.0,23356.0,6.0,814.0
2022-12-31,Afghanistan,149.0,179835.0,2.0,7658.0
2021-12-31,Afghanistan,290.0,108248.0,14.0,4874.0
2022-12-31,Albania,435.0,283889.0,1.0,3484.0
2020-12-31,Albania,159.0,10080.0,3.0,240.0
...,...,...,...,...,...
2020-12-31,Zimbabwe,37.0,3636.0,1.0,102.0
2021-12-31,Zimbabwe,543.0,81927.0,13.0,2808.0
2021-12-31,"occupied Palestinian territory, including east...",866.0,337588.0,9.0,3608.0
2020-12-31,"occupied Palestinian territory, including east...",423.0,28274.0,4.0,227.0
2022-12-31,"occupied Palestinian territory, including east...",830.0,644175.0,3.0,5557.0

In [ ]:
covid_clean_data['Country'].value_counts().sum()

711

In [ ]:
# removing the none recognized countries
values = ['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'South Sudan', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']

# carbon_clean_data = carbon_clean_data.groupby('Country').filter(lambda v: any(v.Country.isin(values)))
                                                                                
covid_clean_data = covid_clean_data.loc[covid_clean_data['Country'].isin(values)]

In [ ]:
covid_clean_data['Country'].value_counts().sum()

609

In [ ]:
covid_clean_data.head(50)

,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
Date_reported,,,,,
2020-12-31,Afghanistan,144.0,23356.0,6.0,814.0
2022-12-31,Afghanistan,149.0,179835.0,2.0,7658.0
2021-12-31,Afghanistan,290.0,108248.0,14.0,4874.0
2022-12-31,Albania,435.0,283889.0,1.0,3484.0
2020-12-31,Albania,159.0,10080.0,3.0,240.0
2021-12-31,Albania,416.0,139607.0,6.0,2382.0
2020-12-31,Algeria,273.0,28797.0,8.0,1027.0
2022-12-31,Algeria,188.0,262308.0,2.0,6808.0
2021-12-31,Algeria,325.0,156314.0,10.0,4275.0
2022-12-31,American Samoa,29.0,4830.0,0.0,20.0
2020-12-31,American Samoa,0.0,0.0,0.0,0.0
2021-12-31,American Samoa,0.0,2.0,0.0,0.0
2020-12-31,Andorra,22.0,1856.0,0.0,42.0
2022-12-31,Andorra,83.0,41159.0,0.0,152.0
2021-12-31,Andorra,41.0,13891.0,0.0,122.0
2020-12-31,Angola,48.0,3643.0,1.0,100.0
2021-12-31,Angola,163.0,40354.0,4.0,1006.0
2022-12-31,Angola,94.0,99711.0,1.0,1899.0
2020-12-31,Anguilla,0.0,3.0,0.0,0.0
2021-12-31,Anguilla,5.0,354.0,0.0,1.0
2022-12-31,Anguilla,8.0,3048.0,0.0,9.0
2020-12-31,Antigua and Barbuda,0.0,62.0,0.0,2.0
2021-12-31,Antigua and Barbuda,11.0,1874.0,0.0,51.0
2022-12-31,Antigua and Barbuda,17.0,7856.0,0.0,137.0
2021-12-31,Argentina,11250.0,4031936.0,192.0,92505.0
2022-12-31,Argentina,14039.0,9041057.0,42.0,128028.0
2020-12-31,Argentina,4600.0,429978.0,133.0,14195.0
2021-12-31,Armenia,508.0,236278.0,14.0,4762.0
2022-12-31,Armenia,353.0,416037.0,3.0,8520.0
2020-12-31,Armenia,438.0,39980.0,8.0,683.0
2022-12-31,Aruba,90.0,37000.0,0.0,213.0
2020-12-31,Aruba,15.0,1534.0,0.0,13.0
2021-12-31,Aruba,37.0,11852.0,0.0,117.0
2022-12-31,Australia,35103.0,6249288.0,45.0,8470.0
2020-12-31,Australia,78.0,13856.0,2.0,361.0
2021-12-31,Australia,916.0,75822.0,4.0,1165.0
2020-12-31,Austria,978.0,59808.0,21.0,1203.0
2022-12-31,Austria,14080.0,3832535.0,14.0,19314.0
2021-12-31,Austria,2499.0,679997.0,25.0,12601.0
2020-12-31,Azerbaijan,595.0,34375.0,7.0,430.0
2021-12-31,Azerbaijan,1095.0,375452.0,16.0,5163.0
2022-12-31,Azerbaijan,734.0,773704.0,6.0,9532.0
2021-12-31,Bahamas,46.0,14665.0,1.0,353.0
2022-12-31,Bahamas,46.0,34427.0,0.0,795.0
2020-12-31,Bahamas,22.0,2095.0,0.0,48.0
2020-12-31,Bahrain,254.0,35276.0,1.0,129.0
2021-12-31,Bahrain,518.0,217745.0,3.0,1014.0
2022-12-31,Bahrain,1432.0,562981.0,0.0,1475.0
2021-12-31,Bangladesh,2937.0,1061600.0,56.0,17787.0
2020-12-31,Bangladesh,1411.0,189037.0,21.0,2661.0

In [ ]:
covid_clean_data.reset_index(inplace = True)

In [ ]:
#stack, reset index names, remove level and reset index
df1 = covid_clean_data.stack().rename_axis((None, None)).reset_index(level=1, drop=True).reset_index()
#set new columns names
df1.columns = ['a','b']

df1.head(50)

    a                    b
0   0  2020-12-31 00:00:00
1   0          Afghanistan
2   0                144.0
3   0              23356.0
4   0                  6.0
5   0                814.0
6   1  2022-12-31 00:00:00
7   1          Afghanistan
8   1                149.0
9   1             179835.0
10  1                  2.0
11  1               7658.0
12  2  2021-12-31 00:00:00
13  2          Afghanistan
14  2                290.0
15  2             108248.0
16  2                 14.0
17  2               4874.0
18  3  2022-12-31 00:00:00
19  3              Albania
20  3                435.0
21  3             283889.0
22  3                  1.0
23  3               3484.0
24  4  2020-12-31 00:00:00
25  4              Albania
26  4                159.0
27  4              10080.0
28  4                  3.0
29  4                240.0
30  5  2021-12-31 00:00:00
31  5              Albania
32  5                416.0
33  5             139607.0
34  5                  6.0
35  5               2382.0
36  6  2020-12-31 00:00:00
37  6              Algeria
38  6                273.0
39  6              28797.0
40  6                  8.0
41  6               1027.0
42  7  2022-12-31 00:00:00
43  7              Algeria
44  7                188.0
45  7             262308.0
46  7                  2.0
47  7               6808.0
48  8  2021-12-31 00:00:00
49  8              Algeria

In [ ]:
covid_clean_data.head(50)

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-12-31,Afghanistan,144.0,23356.0,6.0,814.0
1,2022-12-31,Afghanistan,149.0,179835.0,2.0,7658.0
2,2021-12-31,Afghanistan,290.0,108248.0,14.0,4874.0
3,2022-12-31,Albania,435.0,283889.0,1.0,3484.0
4,2020-12-31,Albania,159.0,10080.0,3.0,240.0
5,2021-12-31,Albania,416.0,139607.0,6.0,2382.0
6,2020-12-31,Algeria,273.0,28797.0,8.0,1027.0
7,2022-12-31,Algeria,188.0,262308.0,2.0,6808.0
8,2021-12-31,Algeria,325.0,156314.0,10.0,4275.0
9,2022-12-31,American Samoa,29.0,4830.0,0.0,20.0
10,2020-12-31,American Samoa,0.0,0.0,0.0,0.0
11,2021-12-31,American Samoa,0.0,2.0,0.0,0.0
12,2020-12-31,Andorra,22.0,1856.0,0.0,42.0
13,2022-12-31,Andorra,83.0,41159.0,0.0,152.0
14,2021-12-31,Andorra,41.0,13891.0,0.0,122.0
15,2020-12-31,Angola,48.0,3643.0,1.0,100.0
16,2021-12-31,Angola,163.0,40354.0,4.0,1006.0
17,2022-12-31,Angola,94.0,99711.0,1.0,1899.0
18,2020-12-31,Anguilla,0.0,3.0,0.0,0.0
19,2021-12-31,Anguilla,5.0,354.0,0.0,1.0
20,2022-12-31,Anguilla,8.0,3048.0,0.0,9.0
21,2020-12-31,Antigua and Barbuda,0.0,62.0,0.0,2.0
22,2021-12-31,Antigua and Barbuda,11.0,1874.0,0.0,51.0
23,2022-12-31,Antigua and Barbuda,17.0,7856.0,0.0,137.0
24,2021-12-31,Argentina,11250.0,4031936.0,192.0,92505.0
25,2022-12-31,Argentina,14039.0,9041057.0,42.0,128028.0
26,2020-12-31,Argentina,4600.0,429978.0,133.0,14195.0
27,2021-12-31,Armenia,508.0,236278.0,14.0,4762.0
28,2022-12-31,Armenia,353.0,416037.0,3.0,8520.0
29,2020-12-31,Armenia,438.0,39980.0,8.0,683.0
30,2022-12-31,Aruba,90.0,37000.0,0.0,213.0
31,2020-12-31,Aruba,15.0,1534.0,0.0,13.0
32,2021-12-31,Aruba,37.0,11852.0,0.0,117.0
33,2022-12-31,Australia,35103.0,6249288.0,45.0,8470.0
34,2020-12-31,Australia,78.0,13856.0,2.0,361.0
35,2021-12-31,Australia,916.0,75822.0,4.0,1165.0
36,2020-12-31,Austria,978.0,59808.0,21.0,1203.0
37,2022-12-31,Austria,14080.0,3832535.0,14.0,19314.0
38,2021-12-31,Austria,2499.0,679997.0,25.0,12601.0
39,2020-12-31,Azerbaijan,595.0,34375.0,7.0,430.0
40,2021-12-31,Azerbaijan,1095.0,375452.0,16.0,5163.0
41,2022-12-31,Azerbaijan,734.0,773704.0,6.0,9532.0
42,2021-12-31,Bahamas,46.0,14665.0,1.0,353.0
43,2022-12-31,Bahamas,46.0,34427.0,0.0,795.0
44,2020-12-31,Bahamas,22.0,2095.0,0.0,48.0
45,2020-12-31,Bahrain,254.0,35276.0,1.0,129.0
46,2021-12-31,Bahrain,518.0,217745.0,3.0,1014.0
47,2022-12-31,Bahrain,1432.0,562981.0,0.0,1475.0
48,2021-12-31,Bangladesh,2937.0,1061600.0,56.0,17787.0
49,2020-12-31,Bangladesh,1411.0,189037.0,21.0,2661.0

## Cleaning the Carbon Data

In [158]:
carbon_data = pd.read_csv("Book1.csv")
carbon_data.head()


carbon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4620 entries, 0 to 4619
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IPCC_annex       4620 non-null   object
 1   C_group_IM24_sh  4620 non-null   object
 2   Country_code_A3  4620 non-null   object
 3   Name             4620 non-null   object
 4   Substance        4620 non-null   object
 5   Year             4620 non-null   int64
 6   Jan              4620 non-null   float64
 7   Feb              4620 non-null   float64
 8   Mar              4620 non-null   float64
 9   Apr              4620 non-null   float64
 10  May              4620 non-null   float64
 11  Jun              4620 non-null   float64
 12  Jul              4620 non-null   float64
 13  Aug              4620 non-null   float64
 14  Sep              4620 non-null   float64
 15  Oct              4620 non-null   float64
 16  Nov              4620 non-null   float64
 17  Dec              4620 non-null   float64
dtypes: float64(12), int64(1), object(5)
memory usage: 649.8+ KB

In [159]:
carbon_data["Yearly_Average"] =((carbon_data['Jan']+carbon_data['Feb']+carbon_data['Mar']+carbon_data['Apr']+carbon_data['May']+carbon_data['Jun']+carbon_data['Jul']+carbon_data['Aug']+carbon_data['Sep']+carbon_data['Oct']+carbon_data['Nov']+carbon_data['Dec'])/12) 
# carbon_data.head()

carbon_clean_data = pd.DataFrame().assign(Country=carbon_data['Name'], Region=carbon_data['C_group_IM24_sh'],Year =carbon_data['Year'],Yearly_Emission=carbon_data['Yearly_Average'])
carbon_clean_data.head()

  Country                Region  Year  Yearly_Emission
0   Aruba  Rest Central America  2000        79.249008
1   Aruba  Rest Central America  2001        81.430534
2   Aruba  Rest Central America  2002        83.042649
3   Aruba  Rest Central America  2003       107.372591
4   Aruba  Rest Central America  2004       111.553270

In [160]:
carbon_clean_data.head(17)
# obtain the # of missing data points per column
missing_values_count = carbon_clean_data.isnull().sum()
missing_values_count

Country            0
Region             0
Year               0
Yearly_Emission    0
dtype: int64

In [163]:
carbon_clean_data.info()
# convert "Year" to datatime64 dtype and format to yyyy
carbon_clean_data["Year"] = pd.to_datetime(carbon_clean_data["Year"], format="%Y")
carbon_clean_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4620 entries, 0 to 4619
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          4620 non-null   object
 1   Region           4620 non-null   object
 2   Year             4620 non-null   int64
 3   Yearly_Emission  4620 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 144.5+ KB

       Country                Region       Year  Yearly_Emission
0        Aruba  Rest Central America 2000-01-01        79.249008
1        Aruba  Rest Central America 2001-01-01        81.430534
2        Aruba  Rest Central America 2002-01-01        83.042649
3        Aruba  Rest Central America 2003-01-01       107.372591
4        Aruba  Rest Central America 2004-01-01       111.553270
...        ...                   ...        ...              ...
4615  Zimbabwe       Southern_Africa 2017-01-01      3633.597410
4616  Zimbabwe       Southern_Africa 2018-01-01      3868.824195
4617  Zimbabwe       Southern_Africa 2019-01-01      3762.213270
4618  Zimbabwe       Southern_Africa 2020-01-01      3821.497373
4619  Zimbabwe       Southern_Africa 2021-01-01      4058.829307

[4620 rows x 4 columns]

In [164]:
carbon_clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4620 entries, 0 to 4619
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          4620 non-null   object
 1   Region           4620 non-null   object
 2   Year             4620 non-null   datetime64[ns]
 3   Yearly_Emission  4620 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 144.5+ KB

In [165]:
carbon_clean_data.set_index('Year', inplace= True)


carbon_clean_data.head()

           Country                Region  Yearly_Emission
Year
2000-01-01   Aruba  Rest Central America        79.249008
2001-01-01   Aruba  Rest Central America        81.430534
2002-01-01   Aruba  Rest Central America        83.042649
2003-01-01   Aruba  Rest Central America       107.372591
2004-01-01   Aruba  Rest Central America       111.553270

In [167]:
carbon_clean_data = carbon_clean_data["2018-01-01":]
carbon_clean_data

                Country                Region  Yearly_Emission
Year
2018-01-01        Aruba  Rest Central America       113.884522
2019-01-01        Aruba  Rest Central America       117.058733
2020-01-01        Aruba  Rest Central America        97.168179
2021-01-01        Aruba  Rest Central America       107.984876
2018-01-01  Afghanistan               India +      1061.400927
...                 ...                   ...              ...
2021-01-01       Zambia       Southern_Africa      3082.726557
2018-01-01     Zimbabwe       Southern_Africa      3868.824195
2019-01-01     Zimbabwe       Southern_Africa      3762.213270
2020-01-01     Zimbabwe       Southern_Africa      3821.497373
2021-01-01     Zimbabwe       Southern_Africa      4058.829307

[840 rows x 3 columns]

In [145]:
carbon_clean_data.head()

                Country                Region  Yearly_Emission
Year
2018-01-01        Aruba  Rest Central America       113.884522
2019-01-01        Aruba  Rest Central America       117.058733
2020-01-01        Aruba  Rest Central America        97.168179
2021-01-01        Aruba  Rest Central America       107.984876
2018-01-01  Afghanistan               India +      1061.400927

In [172]:
# carbon_clean_data['Country'].value_counts().sum()

n = len(pd.unique(carbon_clean_data['Country']))

n

194

In [173]:
# removing the none recognized countries
values = ['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'South Sudan', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']

# carbon_clean_data = carbon_clean_data.groupby('Country').filter(lambda v: any(v.Country.isin(values)))
                                                                                
carbon_clean_data = carbon_clean_data.loc[carbon_clean_data['Country'].isin(values)]

In [174]:
# carbon_clean_data['Country'].value_counts().sum()

n = len(pd.unique(carbon_clean_data['Country']))

n

194

In [149]:
carbon_clean_data.head()

                Country                Region  Yearly_Emission
Year
2018-01-01        Aruba  Rest Central America       113.884522
2019-01-01        Aruba  Rest Central America       117.058733
2020-01-01        Aruba  Rest Central America        97.168179
2021-01-01        Aruba  Rest Central America       107.984876
2018-01-01  Afghanistan               India +      1061.400927

## Cleaning the GDP per capita data

In [214]:
gdp_data = pd.read_csv("GDP_per_capita.csv")
gdp_data.head()

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.532297,5.810829,-0.609127,2.984921,1.604501,4.985800,0.803198,-2.512957,-22.650725,NaN
1,Africa Eastern and Southern,AFE,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,-2.243254,5.269877,2.492519,1.896793,2.602103,...,-1.790869,1.400051,1.200956,0.214389,-0.482125,-0.130261,-0.175692,-0.595037,-5.352819,1.687789
2,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.974865,1.974166,-0.665291,-1.622857,-0.541416,0.064764,-1.194900,1.535637,-4.575032,NaN
3,Africa Western and Central,AFW,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,-0.232373,1.602307,4.990615,3.124672,1.783946,...,2.315207,3.260839,3.096789,0.007361,-2.533319,-0.391018,0.241491,0.504842,-3.465697,1.245669
4,Angola,AGO,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.704409,1.287608,1.217343,-2.472188,-5.816140,-3.412679,-4.496947,-3.868559,-8.493086,-2.467404

In [215]:
gdp_data = gdp_data[["Country_Name","2018","2019","2020","2021"]]
gdp_data

                    Country_Name      2018      2019       2020      2021
0                          Aruba  0.803198 -2.512957 -22.650725       NaN
1    Africa Eastern and Southern -0.175692 -0.595037  -5.352819  1.687789
2                    Afghanistan -1.194900  1.535637  -4.575032       NaN
3     Africa Western and Central  0.241491  0.504842  -3.465697  1.245669
4                         Angola -4.496947 -3.868559  -8.493086 -2.467404
..                           ...       ...       ...        ...       ...
261                       Kosovo  3.056665  5.237433  -5.406638  8.152106
262                  Yemen, Rep. -1.594564 -0.906173 -10.537158 -4.196492
263                 South Africa  0.113021 -1.196091  -7.615876  3.633258
264                       Zambia  1.048034 -1.451364  -5.550283  0.634882
265                     Zimbabwe  3.356166 -7.468627  -7.620388  4.241610

[266 rows x 5 columns]

In [218]:
gdp_clean_data = gdp_data.rename(columns = {"Country_Name":"Country"})

In [219]:
gdp_clean_data

                         Country      2018      2019       2020      2021
0                          Aruba  0.803198 -2.512957 -22.650725       NaN
1    Africa Eastern and Southern -0.175692 -0.595037  -5.352819  1.687789
2                    Afghanistan -1.194900  1.535637  -4.575032       NaN
3     Africa Western and Central  0.241491  0.504842  -3.465697  1.245669
4                         Angola -4.496947 -3.868559  -8.493086 -2.467404
..                           ...       ...       ...        ...       ...
261                       Kosovo  3.056665  5.237433  -5.406638  8.152106
262                  Yemen, Rep. -1.594564 -0.906173 -10.537158 -4.196492
263                 South Africa  0.113021 -1.196091  -7.615876  3.633258
264                       Zambia  1.048034 -1.451364  -5.550283  0.634882
265                     Zimbabwe  3.356166 -7.468627  -7.620388  4.241610

[266 rows x 5 columns]

In [220]:
# obtain the # of missing data points per column
missing_values_count = gdp_clean_data.isnull().sum()
missing_values_count

Country     0
2018       12
2019       14
2020       17
2021       38
dtype: int64

In [221]:
Nan_df = gdp_clean_data[gdp_clean_data.isna().any(axis = 1)]
Nan_df. head()

                 Country      2018      2019       2020  2021
0                  Aruba  0.803198 -2.512957 -22.650725   NaN
2            Afghanistan -1.194900  1.535637  -4.575032   NaN
8   United Arab Emirates -0.320590  1.934431  -7.272173   NaN
11        American Samoa  2.959911 -0.219738   4.138084   NaN
32                Bhutan  1.848488  4.549737 -11.069029   NaN

In [222]:
gdp_clean_data = gdp_clean_data.dropna()
gdp_clean_data.head(40)

                           Country      2018      2019       2020       2021
1      Africa Eastern and Southern -0.175692 -0.595037  -5.352819   1.687789
3       Africa Western and Central  0.241491  0.504842  -3.465697   1.245669
4                           Angola -4.496947 -3.868559  -8.493086  -2.467404
5                          Albania  4.276326  2.523894  -2.925821   9.554875
6                          Andorra  1.574254  1.833061 -11.320730   8.824066
7                       Arab World  0.435552 -0.317407  -6.839059   1.565264
9                        Argentina -3.601610 -2.994388 -10.765108   9.223956
10                         Armenia  4.952231  7.382197  -7.572061   5.525716
12             Antigua and Barbuda  5.932276  3.962785 -20.854935   4.417832
13                       Australia  1.302841  0.571103  -1.278526   1.293855
14                         Austria  2.003553  1.040908  -7.120928   4.024154
15                      Azerbaijan  0.624486  1.635850  -4.952702   5.057830
16                         Burundi -1.557541 -1.323758  -2.712025  -1.233517
17                         Belgium  1.381375  1.561147  -6.132230   5.844595
18                           Benin  3.818783  4.003089   1.090099   3.793246
19                    Burkina Faso  3.591635  2.724072  -0.907161   3.953244
20                      Bangladesh  6.194663  6.777292   2.415855   5.900748
21                        Bulgaria  3.428725  4.772502  -3.811516   4.704718
22                         Bahrain -2.792148 -2.298051  -8.311347  -0.505967
23                    Bahamas, The  0.804868  0.888677 -24.551357  12.669390
24          Bosnia and Herzegovina  4.601627  3.545336  -2.523297   7.671839
25                         Belarus  3.369992  1.604818  -0.479446   2.941756
26                          Belize  0.101152  0.063361 -18.272249   7.776107
27                         Bermuda -0.502899  0.317253  -6.827217   1.894054
28                         Bolivia  2.752164  0.796516  -9.988226   4.671920
29                          Brazil  0.988960  0.462904  -4.561463   3.918337
30                        Barbados -1.169052 -0.742207 -14.086115   1.281227
31               Brunei Darussalam -0.992461  2.829690   0.165659  -2.507856
33                        Botswana  1.720434  1.122136 -10.586406   9.245085
34        Central African Republic  2.224675  1.387801  -0.867090  -0.950310
35                          Canada  1.335564  0.426918  -6.319222   3.991761
36  Central Europe and the Baltics  4.696620  4.214347  -3.557309   6.086240
37                     Switzerland  2.161570  0.491609  -3.085401   2.962994
39                           Chile  2.553476 -0.414485  -6.785703  11.109354
40                           China  6.251701  5.575317   1.996619   8.013345
41                   Cote d'Ivoire  4.196621  3.557683  -0.599377   4.349868
42                        Cameroon  1.275064  0.835334  -2.042455   0.907830
43                Congo, Dem. Rep.  2.461093  1.110160  -1.412051   2.489065
44                     Congo, Rep. -7.231558 -2.614952  -8.577147  -5.869847
45                        Colombia  1.012856  1.796283  -8.040899   9.737382

In [223]:
gdp_clean_data['Country'].value_counts().sum()

228

In [224]:
# removing the none recognized countries
values = ['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'South Sudan', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']

# gdp_clean_data = gdp_clean_data.groupby('Country').filter(lambda v: any(v.Country.isin(values)))
                                                                                
# gdp_clean_data.head(30)

gdp_clean_data = gdp_clean_data.loc[gdp_clean_data['Country'].isin(values)]

In [225]:
gdp_clean_data.head(50)

                     Country      2018      2019       2020       2021
4                     Angola -4.496947 -3.868559  -8.493086  -2.467404
5                    Albania  4.276326  2.523894  -2.925821   9.554875
6                    Andorra  1.574254  1.833061 -11.320730   8.824066
9                  Argentina -3.601610 -2.994388 -10.765108   9.223956
10                   Armenia  4.952231  7.382197  -7.572061   5.525716
12       Antigua and Barbuda  5.932276  3.962785 -20.854935   4.417832
13                 Australia  1.302841  0.571103  -1.278526   1.293855
14                   Austria  2.003553  1.040908  -7.120928   4.024154
15                Azerbaijan  0.624486  1.635850  -4.952702   5.057830
16                   Burundi -1.557541 -1.323758  -2.712025  -1.233517
17                   Belgium  1.381375  1.561147  -6.132230   5.844595
18                     Benin  3.818783  4.003089   1.090099   3.793246
19              Burkina Faso  3.591635  2.724072  -0.907161   3.953244
20                Bangladesh  6.194663  6.777292   2.415855   5.900748
21                  Bulgaria  3.428725  4.772502  -3.811516   4.704718
22                   Bahrain -2.792148 -2.298051  -8.311347  -0.505967
24    Bosnia and Herzegovina  4.601627  3.545336  -2.523297   7.671839
25                   Belarus  3.369992  1.604818  -0.479446   2.941756
26                    Belize  0.101152  0.063361 -18.272249   7.776107
27                   Bermuda -0.502899  0.317253  -6.827217   1.894054
29                    Brazil  0.988960  0.462904  -4.561463   3.918337
30                  Barbados -1.169052 -0.742207 -14.086115   1.281227
31         Brunei Darussalam -0.992461  2.829690   0.165659  -2.507856
33                  Botswana  1.720434  1.122136 -10.586406   9.245085
34  Central African Republic  2.224675  1.387801  -0.867090  -0.950310
35                    Canada  1.335564  0.426918  -6.319222   3.991761
37               Switzerland  2.161570  0.491609  -3.085401   2.962994
39                     Chile  2.553476 -0.414485  -6.785703  11.109354
40                     China  6.251701  5.575317   1.996619   8.013345
42                  Cameroon  1.275064  0.835334  -2.042455   0.907830
45                  Colombia  1.012856  1.796283  -8.040899   9.737382
46                   Comoros  1.347261 -0.459940  -2.437633   0.175066
48                Costa Rica  1.600140  1.441174  -4.927747   6.638824
53                    Cyprus  4.411391  3.864534  -6.055135   4.572714
55                   Germany  0.782690  0.827865  -4.647545   2.931698
56                  Djibouti  3.154817  3.958631  -0.277594   2.832232
57                  Dominica  3.307603  5.235084 -16.816901   6.268566
58                   Denmark  1.485085  1.749614  -2.347336   4.240658
59        Dominican Republic  5.834537  3.958404  -7.657061  11.187472
60                   Algeria -0.909246 -0.934556  -6.826964   2.065855
66                   Ecuador -0.483429 -1.653250  -9.195656   2.805236
70                     Spain  1.841758  1.355133 -11.253267   5.211050
71                   Estonia  3.772023  3.713647  -3.142615   8.367794
72                  Ethiopia  4.053940  5.604370   3.398110   3.027076
75                   Finland  1.007881  1.109279  -2.439494   3.247626
76                      Fiji  3.103811 -1.168768 -15.765006  -4.767165
77                    France  1.585879  1.620358  -8.034379   6.774307
80                     Gabon -1.753505  1.371169  -4.181858  -0.859906
81            United Kingdom  1.036855  1.099996  -9.601340   7.049388
82                   Georgia  4.883855  5.162619  -6.824433  10.778702

In [226]:
gdp_clean_data['Country'].value_counts().sum()

152

In [227]:
gdp_clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 4 to 265
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  152 non-null    object
 1   2018     152 non-null    float64
 2   2019     152 non-null    float64
 3   2020     152 non-null    float64
 4   2021     152 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.1+ KB

In [228]:
gdp_clean_data.describe()

             2018        2019        2020        2021
count  152.000000  152.000000  152.000000  152.000000
mean     2.008315    1.657054   -5.661060    3.904092
std      2.603815    3.303247    7.167432    5.624161
min     -9.600232  -12.491414  -34.679095  -18.577672
25%      0.669384    0.205258   -8.103093    0.954321
50%      1.972167    1.685171   -4.604504    3.680440
75%      3.895150    3.721364   -2.512655    6.318351
max      7.687746   17.211410   42.789300   30.221325

## Merging the three dataframes into one

In [229]:
from functools import reduce

#define list of DataFrames
dfs = [covid_clean_data, gdp_clean_data, carbon_clean_data]

#merge all DataFrames into one
merge_data = reduce(lambda  left,right: pd.merge(left,right,on=['Country'],
                                            how='outer'), dfs)

In [230]:
merge_data.head(20)

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,2018,2019,2020,2021,Region,Yearly_Emission
0,2020-12-31,Afghanistan,144.0,23356.0,6.0,814.0,NaN,NaN,NaN,NaN,India +,1061.400927
1,2020-12-31,Afghanistan,144.0,23356.0,6.0,814.0,NaN,NaN,NaN,NaN,India +,1017.976372
2,2020-12-31,Afghanistan,144.0,23356.0,6.0,814.0,NaN,NaN,NaN,NaN,India +,1043.750890
3,2020-12-31,Afghanistan,144.0,23356.0,6.0,814.0,NaN,NaN,NaN,NaN,India +,1046.131309
4,2022-12-31,Afghanistan,149.0,179835.0,2.0,7658.0,NaN,NaN,NaN,NaN,India +,1061.400927
5,2022-12-31,Afghanistan,149.0,179835.0,2.0,7658.0,NaN,NaN,NaN,NaN,India +,1017.976372
6,2022-12-31,Afghanistan,149.0,179835.0,2.0,7658.0,NaN,NaN,NaN,NaN,India +,1043.750890
7,2022-12-31,Afghanistan,149.0,179835.0,2.0,7658.0,NaN,NaN,NaN,NaN,India +,1046.131309
8,2021-12-31,Afghanistan,290.0,108248.0,14.0,4874.0,NaN,NaN,NaN,NaN,India +,1061.400927
9,2021-12-31,Afghanistan,290.0,108248.0,14.0,4874.0,NaN,NaN,NaN,NaN,India +,1017.976372
10,2021-12-31,Afghanistan,290.0,108248.0,14.0,4874.0,NaN,NaN,NaN,NaN,India +,1043.750890
11,2021-12-31,Afghanistan,290.0,108248.0,14.0,4874.0,NaN,NaN,NaN,NaN,India +,1046.131309
12,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122
13,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,512.776786
14,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,485.286511
15,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,475.857561
16,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122
17,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,512.776786
18,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,485.286511
19,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,475.857561

In [231]:
# data.to_excel("C:/Users/adedi_tpk1ys1/OneDrive/Documents/PYTHON/Datasets/KPMG_data_update.xlsx")
# demo_addr_df = pd.merge(data2_clean, data3_clean, left_index=True, right_index=True)
# df.set_index('month')

In [232]:
merge_data= merge_data.dropna()

In [233]:
merge_data.head(20)

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,2018,2019,2020,2021,Region,Yearly_Emission
12,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122
13,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,512.776786
14,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,485.286511
15,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,475.857561
16,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122
17,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,512.776786
18,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,485.286511
19,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,475.857561
20,2021-12-31,Albania,416.0,139607.0,6.0,2382.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122
21,2021-12-31,Albania,416.0,139607.0,6.0,2382.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,512.776786
22,2021-12-31,Albania,416.0,139607.0,6.0,2382.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,485.286511
23,2021-12-31,Albania,416.0,139607.0,6.0,2382.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,475.857561
24,2020-12-31,Algeria,273.0,28797.0,8.0,1027.0,-0.909246,-0.934556,-6.826964,2.065855,Northern_Africa,14493.385375
25,2020-12-31,Algeria,273.0,28797.0,8.0,1027.0,-0.909246,-0.934556,-6.826964,2.065855,Northern_Africa,14839.984146
26,2020-12-31,Algeria,273.0,28797.0,8.0,1027.0,-0.909246,-0.934556,-6.826964,2.065855,Northern_Africa,14090.389187
27,2020-12-31,Algeria,273.0,28797.0,8.0,1027.0,-0.909246,-0.934556,-6.826964,2.065855,Northern_Africa,14426.418662
28,2022-12-31,Algeria,188.0,262308.0,2.0,6808.0,-0.909246,-0.934556,-6.826964,2.065855,Northern_Africa,14493.385375
29,2022-12-31,Algeria,188.0,262308.0,2.0,6808.0,-0.909246,-0.934556,-6.826964,2.065855,Northern_Africa,14839.984146
30,2022-12-31,Algeria,188.0,262308.0,2.0,6808.0,-0.909246,-0.934556,-6.826964,2.065855,Northern_Africa,14090.389187
31,2022-12-31,Algeria,188.0,262308.0,2.0,6808.0,-0.909246,-0.934556,-6.826964,2.065855,Northern_Africa,14426.418662

In [ ]:
merge_data.rename(columns ={'2018_x':'gdp_2018','2019_x':'gdp_2019','2020_x':'gdp_2020','2021_x':'gdp_2021','2018_y':'carbon_2018','2019_y':'carbon_2019','2020_y':'carbon_2020','2021_y':'carbon_2021'},inplace =True)

In [ ]:
merge_data.head()

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,2018,2019,2020,2021,Region,Yearly_Emission
12,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122
13,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,512.776786
14,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,485.286511
15,2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,475.857561
16,2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122

In [ ]:
merge_data.set_index('Date_reported',inplace =True)

In [ ]:
merge_data

,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,2018,2019,2020,2021,Region,Yearly_Emission
Date_reported,,,,,,,,,,,
2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122
2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,512.776786
2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,485.286511
2022-12-31,Albania,435.0,283889.0,1.0,3484.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,475.857561
2020-12-31,Albania,159.0,10080.0,3.0,240.0,4.276326,2.523894,-2.925821,9.554875,Central Europe,534.445122
...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,Zimbabwe,37.0,3636.0,1.0,102.0,3.356166,-7.468627,-7.620388,4.241610,Southern_Africa,4058.829308
2021-12-31,Zimbabwe,543.0,81927.0,13.0,2808.0,3.356166,-7.468627,-7.620388,4.241610,Southern_Africa,3868.824195
2021-12-31,Zimbabwe,543.0,81927.0,13.0,2808.0,3.356166,-7.468627,-7.620388,4.241610,Southern_Africa,3762.213269
2021-12-31,Zimbabwe,543.0,81927.0,13.0,2808.0,3.356166,-7.468627,-7.620388,4.241610,Southern_Africa,3821.497373
2021-12-31,Zimbabwe,543.0,81927.0,13.0,2808.0,3.356166,-7.468627,-7.620388,4.241610,Southern_Africa,4058.829308

In [ ]:
merge_data.to_csv('DSM_data.csv')

## Data Modelling and Analysis